# ==============================
# 1. 数据集 (你的核心诉求)
# ==============================
data/
*.aedat4
*.h5
*.npy
*.rar
*.txt


# ==============================
# 2. 模型权重与训练日志
# ==============================
# 训练好的模型参数文件通常很大，不需要提交
*.pth
*.pt
*.ckpt
# 训练时产生的 TensorBoard 或日志文件
logs/
runs/

# ==============================
# 3. Python 缓存与编译文件
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# 4. 虚拟环境
# ==============================
# 如果你在项目里建了虚拟环境，绝对不要提交它们
venv/
.env/
.venv/
env/
miniconda3/

# ==============================
# 5. 编辑器/系统缓存 (可选)
# ==============================
.vscode/
.idea/
.DS_Store
